# Python files
venv/
__pycahce__/
*.pyc
*.pyo

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.eggv

# Testing
global.txt
user_files/

# Code Coverage
.coverage
coverage.xml

# VS Code Editor
/.vscode/